body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
    background-color: #ddd;
}
body > main {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
a {
    font-size: 10px;
}